.offers-page {
  padding: 30px;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.offers-title {
  color: #222c58;
  font-size: 2rem;
  margin-bottom: 30px;
}

.offers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}

.offer-card {
  background: linear-gradient(135deg, #0F0033, #40128B, #5F259F, #b522c9);
  color: white;
  padding: 25px;
  border-radius: 8px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, background 0.5s ease;
  border: 1px solid #ccc;
}

.offer-card:hover {
  transform: translateY(-5px);
  background: linear-gradient(135deg, #b522c9, #5F259F, #40128B, #0F0033); 
}

.offer-card h3 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: white;
}

.offer-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 30px;
  color: #007BFF;
  font-weight: bold;
}

.offer-card li {
  margin: 10px 0;
  font-size: 1.5rem;
}

.offer-card .icon {
  margin-right: 10px;
}

.buy-now-btn {
  padding: 10px 20px;
  background-color: #ffde59;
  color: #5F259F;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buy-now-btn:hover {
  background-color: #f5c800;
  color: black;
}
